---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import url('https://rsms.me/inter/inter.css');

:root {
  color-scheme: light dark;

  --max-width: 48rem;

  // Brand colors from brand.gnome.org:

  // Primary
  --rgb-brand-blue: 50, 112, 188;
  --brand-blue: rgb(var(--rgb-brand-blue));
  --link-color: var(--brand-blue);

  // Secondary
  --rgb-brand-orange: 217, 101, 0;
  --brand-orange: rgb(var(--rgb-brand-orange));

  --rgb-brand-purple: 122, 55, 145;
  --brand-purple: rgb(var(--rgb-brand-purple));

  --rgb-brand-green: 41, 180, 104;
  --brand-green: rgb(var(--rgb-brand-green));

  --rgb-brand-red: 189, 23, 32;
  --brand-red: rgb(var(--rgb-brand-red));

  // Neutrals
  --rgb-white: 255, 255, 255;
  --white: rgb(var(--rgb-white));

  --rgb-dark-1: 119, 118, 123;
  --dark-1: rgb(var(--rgb-dark-1));

  --rgb-dark-4: 36, 31, 49;
  --dark-4: rgb(var(--rgb-dark-4));

  // Semantic
  --rgb-bg: var(--rgb-white);
  --bg: rgb(var(--rgb-bg));

  --rgb-fg: var(--rgb-dark-4);
  --fg: rgb(var(--rgb-fg));

  @media (prefers-color-scheme: dark) {
    --rgb-bg: var(--rgb-dark-4);
    --rgb-fg: var(--rgb-white);
    --link-color: #62a0ea;
  }
}

* {
  box-sizing: border-box;
}

html {
  background: var(--bg);
  color: var(--fg);
  font-family: "Inter", sans-serif;
  font-size: 5vw; // Adapts to arbitrarily small displays
  font-weight: 400;
  line-height: 1.5;
  scroll-behavior: smooth;

  @media (min-width: 320px) {
    font-size: 16px;
  }

  @media (min-width: 600px) {
    font-size: 18px;
  }

  @media print {
    font-size: 12px;
  }
}

body {
  margin: 0;
}


body > header {
  background-color: var(--brand-blue);
  color: var(--white);

  nav {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-inline: auto;
    max-width: var(--max-width);

    a {
      color: inherit;
      font-weight: normal;
      padding: 0.5rem;
      text-decoration: none;

      @media (min-width: 600px) {
        padding: 1rem;
      }

      &:hover,
      &:active,
      &:focus {
        background-color: rgba(var(--rgb-bg), 0.25);
        text-decoration: none;
      }

      &.home {
        align-self: stretch;
        background-image: url("assets/logo-horizontal.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        font-size: 0;
        padding: 0;
        width: 6.5rem;
      }
    }

      em {
        flex-grow: 1;
        display: flex;
        justify-content: end;
        font-style: normal;

        a {
          background-color: rgba(var(--rgb-white), 1);
          border-radius: 9999px;
          color: var(--brand-blue);
          font-weight: bold;
          margin: 0.25rem 0.5rem;
          padding: 0.25rem 0.75rem;
          transition: all 350ms cubic-bezier(0.17, 0.89, 0.32, 1.28);

          &:hover,
          &:focus,
          &:active {
            background-color: rgba(var(--rgb-white), 0.9);
            transform: scale(1.05);
          }
        }
      }
  }
}

body > main {
  padding: 0 1em;
  max-width: var(--max-width);
  margin-inline: auto;
}

section.hero {
  background-image:
    url("https://brand.gnome.org/assets/tris.svg"),
    linear-gradient(45deg,
      rgba(var(--rgb-brand-blue), 0.75) 50%,
      rgba(var(--rgb-brand-purple), 0.75) 100%
    );
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 60%, 100%;
  overflow: auto;
  padding-bottom: 2rem;
  text-align: center;

  h1 {
    background-image: url("assets/logo-horizontal.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0;
    height: 8rem;
    margin: 2rem 0 0;
    padding: 0;
  }

  p {
    margin: 0;
    padding: 0;
  }

  img {
    max-width: var(--max-width);
  }

  .button {
    background-color: rgba(var(--rgb-white), 0.25);
    -webkit-backdrop-filter: blur(2rem);
    backdrop-filter: blur(2rem);
    color: var(--white);
  }
}

img {
  display: block;
  height: auto;
  margin-inline: auto;
  max-width: 100%;
  object-fit: contain;
  width: 100%;

  &.half {
    max-width: calc(var(--max-width) / 2);
  }

  &.icon {
    filter:
      drop-shadow(rgba(0, 0, 0, 0.25) 0px 1.3px 1.6px)
      drop-shadow(rgba(0, 0, 0, 0.14) 0px 6.4px 11.2px);
    max-width: 128px;
    height: auto;
  }
}

h2, h3 {
  line-height: 1;
  margin-top: 3em;
  margin-bottom: 0;
  scroll-margin-top: 1rem;

  &:first-of-type {
    margin-top: 2em;
  }
}

h2 {
  font-size: 3rem;
  font-weight: 900;
}

h2 + p {
  font-size: 1.25rem;
}

h3 {
  font-size: 2rem;
}

a {
  color: var(--link-color);
  font-weight: bold;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.apps p {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  margin: 3rem auto;

  img {
    margin: 0;
  }
}

.supporters {
  p {
    column-gap: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 2rem;

    img {
      height: 3rem;
      width: 12rem;
      margin: 0;
    }
  }
}

.buttons {
  margin: 2em auto;
  text-align: center;
}

.button {
  background-color: rgba(var(--rgb-fg), 0.125);
  border-radius: 99999px;
  color: inherit;
  display: inline-block;
  font-weight: 900;
  margin: 0.25em 0.5em;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  transition: all 350ms cubic-bezier(0.17, 0.89, 0.32, 1.28);

  &:hover,
  &:focus,
  &:active {
    background-color: rgba(var(--rgb-fg), 0.25);
    text-decoration: none;
    transform: scale(1.05);
  }

  &.standalone {
    display: table;
    margin: 2em auto;
  }

  &.suggested {
    background-color: var(--brand-blue);
    color: var(--white);
  }
}

body > footer {
  background-color: black;
  color: white;
  margin-top: 4rem;
  padding: 1rem;

  a {
    color: inherit;
    font-weight: normal;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: var(--max-width);
    margin-inline: auto;

    section {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      gap: 0.5rem;
      line-height: 1.25;
      max-width: calc(50% - 2rem);

      header {
        font-weight: bold;
      }
    }
  }

  p {
    margin: 3rem auto 0;
    text-align: center;
  }
}
