<footer>
  <nav>
    <section>
      <header>Resources</header>
      <a href="https://foundation.gnome.org/contact-us">Contact Us</a>
      <a href="https://handbook.gnome.org/">Handbook</a>
      <a href="https://developer.gnome.org">Development</a>
      <a href="https://events.gnome.org">Events</a>
      <a href="https://conduct.gnome.org">Code of Conduct</a>
      <a href="{{ '/privacy' | prefix: site.baseurl }}">Privacy</a>
      <a href="https://brand.gnome.org">Brand</a>
    </section>
    <section>
      <header>Support Us</header>
      <a href="https://welcome.gnome.org">Get Involved</a>
      <a href="https://www.gnome.org/donate">Donate</a>
      <a href="https://shop.gnome.org">Shop for Merch</a>
      <a href="https://foundation.gnome.org">GNOME Foundation</a>
      <a href="https://wiki.gnome.org/AdvisoryBoard">Advisory Board</a>
    </section>
    <section>
      <header>Tools &amp; Platforms</header>
      <a href="https://gitlab.gnome.org">GitLab</a>
      <a href="https://gnome.element.io">Element/Matrix</a>
      <a href="https://discourse.gnome.org">Discourse</a>
      <a href="https://hedgedoc.gnome.org">HedgeDoc</a>
      <a href="https://l10n.gnome.org">Translations</a>
      <a href="https://odrs.gnome.org/">Open Desktop Ratings</a>
    </section>
    <section>
      <header>News &amp; Blogs</header>
      <a href="https://release.gnome.org">Release Notes</a>
      <a href="https://thisweek.gnome.org/">This Week in GNOME</a>
      <a href="https://foundation.gnome.org/news">Foundation News</a>
      <a href="https://blogs.gnome.org/">GNOME Blogs</a>
      <a href="https://planet.gnome.org/">Planet GNOME</a>
    </section>
    <!--section>
      <header>Ecosystem</header>
      <a href="https://apps.gnome.org">Apps for GNOME</a>
      <a href="https://os.gnome.org">GNOME OS</a>
      <a href="https://circle.gnome.org">GNOME Circle</a>
      <a href="https://flathub.org">Flathub</a>
      <a href="https://gtk.org">GTK</a>
      <a href="https://hughsie.github.io/oars/">Open Age Ratings</a>
      <a href="https://cantarell.gnome.org/">Cantarell</a>
    </section-->
  </nav>
  <p>© {{ site.time | date: '%Y' }} <a href="https://foundation.gnome.org">GNOME Foundation</a></p>
</footer>
