body > header {
  background-color: var(--brand-blue);
  color: var(--white);

  nav {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-inline: auto;
    max-width: var(--max-width);

    a {
      color: inherit;
      font-weight: normal;
      padding: 0.5rem;
      text-decoration: none;

      @media (min-width: 600px) {
        padding: 1rem;
      }

      &:hover,
      &:active,
      &:focus {
        background-color: rgba(var(--rgb-bg), 0.25);
        text-decoration: none;
      }

      &.home {
        align-self: stretch;
        background-image: url("assets/logo-horizontal.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        font-size: 0;
        padding: 0;
        width: 6.5rem;
      }
    }

    em {
      flex-grow: 1;
      display: flex;
      justify-content: end;
      font-style: normal;

      a {
        background-color: var(--white);
        border-radius: 9999px;
        color: var(--brand-blue);
        font-weight: bold;
        margin: 0.25rem 0.5rem;
        opacity: 0.95;
        padding: 0.25rem 0.75rem;
        transition: var(--bounce);

        &:hover,
        &:focus,
        &:active {
          background-color: var(--white);
          opacity: 1;
          transform: scale(1.05);
        }
      }
    }
  }
}
